{:paths ["src" "classes"]
 :deps {cognician/dogstatsd-clj {:mvn/version "0.1.2"}
        com.stuartsierra/component {:mvn/version "0.4.0"}
        environ {:mvn/version "1.1.0"}
        org.apache.kafka/kafka-clients {:mvn/version "2.3.0"
                                        :exclusions [org.slf4j/slf4j-log4j12 log4j org.slf4j/slf4j-api]}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        org.clojure/tools.logging {:mvn/version "0.4.1"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
                     reloaded.repl {:mvn/version "0.2.4"}}}

  :aot {:main-opts ["-e" "(compile,'kafka-metrics-reporter.core)"]}

  :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
            :main-opts ["-m" "uberdeps.uberjar"]}

  :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/kafka-metrics-reporter.jar"]}}}
